<html lang="en-US">

<head>

    <title>Confirm Email Link</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body class="bg-dark">

    <div class="container col-lg-3 mt-5">

        <h2 class="text-center text-muted mb-4">
            <a class="text-decoration-none fw-bold text-white" href="/">
                <b>
                    Galhardo APP
                </b>
            </a>
        </h2>

        @if(flash_success)
            <div class="text-center alert alert-success" role="alert">
                <b>{{flash_success}}</b>
            </div>
        @end

        <form action="/confirm-email" method="POST">

            <div class="form-floating mb-3">
                <input value=""
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        autofocus
                        required>
                <label for="email">Email address to receive confirm link</label>
            </div>

            <div class="form-group">
                <button type="submit" class="shadow mb-3 w-100 btn btn-outline-light btn-block login-btn">
                    Send Confirm Email Link
                </button>
            </div>

        </form>

    </div>

</body>

</html>
