<div class="col-lg-4 col-md-6">
                    <p class="small text-muted">Project developed by <a target="_blank" href="https://github.com/AlexGalhardo">Alex Galhardo</a> to learn HTML, CSS, Bootstrap, GIT, JavaScript, TypeScript, NodeJS, CRUDs, Docker, SQL, JSON, REST and GraphQL APIs, Devops, Payment APIs and other cool things related to Web Software Development.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <ul class="list-unstyled text-muted">
                        <li><a href="/politica-de-privacidade">Privacy Policy</a></li>
                        <li><a href="/termos-de-uso">Terms Of Use</a></li>
                        <li><a href="/trabalhe-conosco">Work With Us</a></li>
                    </ul>
                </div>