NODE_ENV=development

APP_URL=http://localhost:3000

SESSION_SECRET=$2b$12$QdBFZwXSSkoKSv77Iqjga

PORT=3000

JWT_SECRET=FUU7H2P3XKa1f95JbKlLgjyOy4kG

ZIPCODE_ORIGIN=

LOCALE_DATE_TIME=pt-BR

UPLOAD_STORAGE_TYPE=local # or s3
AWS_S3_BUCKET_NAME=

TELEGRAM_BOT_HTTP_TOKEN=
TELEGRAM_BOT_CHANNEL_ID=

# https://www.google.com/recaptcha/admin/
RECAPTCHA_ID=
RECAPTCHA_SECRET=

# ----------------------------------- SERVICES
APP_EMAIL=aleexgvieira@gmail.com

MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

# ----------------------------------- DATABASES
PG_HOST=172.21.0.2
PG_DB=galhardoapp
PG_USER=postgres
PG_PASSWORD=root
PG_PORT=5432

PG_DATABASE_URL="postgres://postgres:root@172.21.0.2/galhardoapp?schema=public"

MONGODB_URL="mongodb://"

REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=root

# ----------------------------------- SOCIAL LOGIN

GITHUB_CALLBACK_URL=http://localhost:3000/github/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


GOOGLE_CALLBACK_URL=http://localhost:3000/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


FACEBOOK_CALLBACK_URL=https://localhost:3000/facebook/callback
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=


# ----------------------------------- STRIPE

STRIPE_SK_TEST=sk_test_

STRIPE_PK_TEST=pk_test_

STRIPE_PLAN_PRO_PRICE_ID=price_
STRIPE_PLAN_PRO_AMOUNT=199

STRIPE_PLAN_PREMIUM_PRICE_ID=price_
STRIPE_PLAN_PREMIUM_AMOUNT=499
