NODE_ENV=development

APP_URL=http://localhost:3000

SESSION_SECRET=$2b$12$QdBFZwXSSkoKSv77Iqjga

PORT=3000

JWT_SECRET=FUU7H2P3XKa1f95JbKlLgjyOy4kG

ZIPCODE_ORIGIN=

LOCALE_DATE_TIME=pt-BR

TELEGRAM_BOT_HTTP_TOKEN=
TELEGRAM_BOT_CHANNEL_ID=

# https://www.google.com/recaptcha/admin/
RECAPTCHA_ID=
RECAPTCHA_SECRET=

# ----------------------------------- SERVICES
APP_EMAIL=

MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

# ----------------------------------- DATABASES
DATABASE_URL="postgres://postgres:root@172.21.0.2/galhardoapp?schema=public"

# ----------------------------------- STRIPE
STRIPE_SK_TEST=sk_test_

STRIPE_PLAN_PREMIUM_PRICE_ID=price_
STRIPE_PLAN_PREMIUM_AMOUNT=199
