{{>partials/header}}

  <div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/products/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
                <a href="/admin/stripe/products/update" class="btn shadow-sm ms-1 me-1 btn-outline-warning">Update</a>
                <a href="/admin/stripe/products/delete" class="btn shadow-sm ms-1 me-1 btn-outline-danger">Delete</a>
            {{/user.admin}}
            <a href="/admin/stripe/products/retrieve" class="btn shadow-sm ms-1 me-1 btn-primary">Retrieve</a>
            <a href="/admin/stripe/products/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">ListAll</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-primary mb-3">
                <i class="bi bi-person"></i> RETRIEVE Product
            </h3>

            <a class="mb-5" target="_blank" href="https://stripe.com/docs/api/products/retrieve">https://stripe.com/docs/api/products/retrieve</a>

            <div class="col-lg-5">
  		
        		<form action="/admin/stripe/products/retrieve" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
        			  	<input type="text" class="form-control" name="product_id" id="product_id" placeholder="Customer Name" required autofocus>
        			  	<label for="product_id">PRODUCT_ID</label>
        			</div>

        			<button type="submit" class="btn btn-outline-primary w-100 shadow">Retrieve Product</button>
        		</form>

            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#product}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>ACTIVE:</b> {{active}}</li>
                        <li class="list-group-item"><b>NAME:</b> {{name}}</li>
                        <li class="list-group-item"><b>LAST UPDATED:</b> {{updated}}</li>
                        <li class="list-group-item"><b>CREATED:</b> {{created}}</li>
                    </ul>
        		{{/product}}
            </div>

        </div>

	</div>

{{>partials/footer}}