{{>partials/header}}

	<div class="container col-lg-12 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/plans/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
                <a href="/admin/stripe/plans/delete" class="btn shadow-sm ms-1 me-1 btn-outline-danger">Delete</a>
            {{/user.admin}}
            <a href="/admin/stripe/plans/retrieve" class="btn shadow-sm ms-1 me-1 btn-outline-primary">Retrieve</a>
            <a href="/admin/stripe/plans/listAll" class="btn shadow-sm ms-1 me-1 btn-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-info mb-3">
              <i class="bi bi-list-ul"></i> LIST Last {{lastPlansCreated}} Plans Created
            </h3>

            <a target="_blank" href="https://stripe.com/docs/api/plans/list">https://stripe.com/docs/api/plans/list</a>

            <table class="table table-over mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">PRODUCT</th>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">INTERVAL</th>
                        <th scope="col">CREATED AT</th>
                    </tr>
                </thead>
                <tbody>
                    {{#plans}}
                        <tr>
                            <th>{{id}}</th>
                            <td>{{amount}}</td>
                            <td>{{product}}</td>
                            <td>{{currency}}</td>
                            <td>{{interval}}</td>
                            <td>{{created}}</td>
                        </tr>
                    {{/plans}}
                </tbody>
            </table>

        </div>

	</div>

{{>partials/footer}}