{{>partials/header}}

    <div class="container col-lg-8 text-center mt-3 mb-5">

        <div class="mb-3">
            <a href="/admin/stripe/charges/create" class="btn shadow-sm ms-1 me-1 btn-success">Create</a>
            <a href="/admin/stripe/charges/retrieve" class="btn shadow-sm ms-1 me-1 btn-outline-primary">Retrieve</a>
            <a href="/admin/stripe/charges/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-success mb-3">
                <i class="bi bi-plus"></i> CREATE Charge with Card
            </h3>

            <a class="mb-3" target="_blank" href="https://stripe.com/docs/payments/accept-a-payment-charges#web-create-token">
                https://stripe.com/docs/payments/accept-a-payment-charges#web-create-token
            </a>

            <a class="mb-5" target="_blank" href="https://stripe.com/docs/api/charges/create">
                https://stripe.com/docs/api/charges/create
            </a>
      
            <div class="col-lg-5">

                <form action="/admin/stripe/charges/create" method="POST" id="Ppayment-form">

                    <!--<div class="form-row">
                        
                        <label for="card-element">
                          Credit or debit card
                        </label>

                        <div id="card-element">
                          
                        </div>

                        <div id="card-errors" role="alert"></div>
                    </div>-->
                    
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="charge_description" id="charge_description" value="God Of War 2018 PS4" required autofocus>
                        <label for="charge_description">CHARGE_DESCRIPTION</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" step="1" min="100" class="form-control" id="charge_amount" name="charge_amount" value="100" required>
                        <label for="charge_amount">CHARGE_AMOUNT (100 = $1)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="customer_card_id" id="customer_card_id" value="card_1JJ2knBD6lhzYmkO21VAvdSc" required>
                        <label for="customer_card_id">CARD_ID</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="customer_id" id="customer_id" value="cus_JwuIk74ZSSQXwX" required>
                        <label for="customer_id">CUSTOMER_ID</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="charge_currency" id="charge_currency" value="usd" required>
                        <label for="charge_currency">CHARGE_CURRENCY</label>
                    </div>

                    <button class="btn btn-outline-success shadow w-100" type="submit">
                        Create Charge
                    </button>

                </form>

            </div>


            <div class="col-lg-6">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				<b>{{message}}</b>
        			</div>
        		{{/flash}}

        		{{#shopCardCharge}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>CHARGE_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>CURRENCY:</b> {{currency}}</li>
                        <li class="list-group-item"><b>AMOUNT:</b> {{amount}}</li>
                        <li class="list-group-item"><b>PAID:</b> {{paid}}</li>
                        <li class="list-group-item"><b>PAYMENT_METHOD:</b> {{payment_method}}</li>
                        <li class="list-group-item"><b>CREATED_AT:</b> {{created}}</li>
                    </ul>
        		{{/shopCardCharge}}
            </div>

        </label>

    </div>

	
    <script src="../scripts/stripe.js"></script>
    

{{>partials/footer}}