<!DOCTYPE html>
<html>

<head>

    <!-- TITLE -->
    <title>{{ title || "Galhardo APP" }}</title>

    <!-- CHARSET -->
    <meta charset="utf-8">

    <!-- FAVICON -->
	<link rel="icon" type="image/png" href="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-play-icon-png-image_695339.jpg">

    <!-- CANONICAL -->
    <link rel="canonical" href="https://galhardo-app.up.railway.app/">

    <!-- RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DESCRIPTION -->
    <meta name="description" content="The best books and games recommendations on internet!">.

    <!-- STYLES CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- LOADING PAGE JS -->
    <script src="/scripts/pace.min.js"></script>

    <!-- LOADING PAGE CSS -->
    <link rel="stylesheet" href="/css/minimal.css">

    <!-- SCROLLBAR CSS -->
    <link rel="stylesheet" href="/css/scroll_bar.css">

    <!-- BOOTSTRAP 5 CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- BOOTSTRAP 5 JS -->
    <script src="/scripts/bootstrap.bundle.min.js"></script>

    <!-- BOOTSTRAP 5 ICONS -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">

    <!-- COOKIES CSS -->
    <link rel="stylesheet" href="/css/cookies.css">

</head>


<body id="tag_body" class="bg-dark">

    <div class="fixed-top bg-dark">

        <nav class="container col-lg-9 pt-3 pb-3 navbar navbar-expand-lg fixed navbar-dark">

            <div class="container-fluid">

                <a class="navbar-brand fw-bold" href="/">
                    <span class="fs-4 fw-bold text-white">Galhardo APP</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="fs-5 nav-link @if(header.navbar_blog_active) fw-bold text-white @end" aria-current="page" href="/blog">
                                Blog
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="fs-5 nav-link @if(header.navbar_contact_active) fw-bold text-white @end" aria-current="page" href="/contact">
                                Contact
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="fs-5 nav-link @if(header.navbar_pricing_active) fw-bold text-white @end" aria-current="page" href="/plans"> Plans</a>
                        </li>

                        </ul>

                        @if(user)
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-person-circle"></i>
										<span class="fs-5 fw-bold">{{ user.name }}</span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item fw-bold" href="/profile">
												<i class="bi bi-pencil-square"></i>
												My Profile
											</a>
										</li>
										<li>
											<a class="dropdown-item fw-bold" href="/profile/shop/transactions">
												<i class="bi bi-cart"></i>
												My Shop Transactions
											</a>
										</li>
										<li>
											<a class="dropdown-item fw-bold" href="/profile/subscriptions/transactions">
												<i class="bi bi-award"></i>
												My Plans Transactions
											</a>
										</li>
										@if(user?.admin)
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item fw-bold" href="/admin/create/blogPost">
													<i class="bi bi-plus"></i>
													Create Blog Post
												</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="/admin/create/game">
													<i class="bi bi-plus"></i>
													Create Game
												</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="/admin/create/book">
													<i class="bi bi-plus"></i>
													Create Book
												</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="/admin/create/movie">
													<i class="bi bi-plus"></i>
													Create Movie
												</a>
											</li>
											<li>
												<a class="dropdown-item fw-bold" href="/admin/create/tvshow">
													<i class="bi bi-plus"></i>
													Create TVShow
												</a>
											</li>
										@end
										<li><hr class="dropdown-divider"></li>
										<li>
											<a class="dropdown-item fw-bold" href="/profile/logout">
												<i class="bi bi-x-lg"></i>
												Logout
											</a>
										</li>
									</ul>
								</li>

							</ul>
                       @end


                        @if(!user)
                            <div class="pull-right">
                                <a href="/login" class="shadow-sm fw-bold btn btn-outline-light" type="submit">Login</a>
                            </div>
                        @end


						@if(user)
							<a href="/shop"
								class="shadow-sm fw-bold btn ms-2 btn-outline-light"
								type="submit">
								<i class="bi bi-cart"></i>
								My Cart
								[
									<span id="total_shopCart_itens">
										{{ totalItensShopCart ?? 0 }}
									</span>
								]
							</a>
						@end

                </div>

            </div>

        </nav>

    </div>

    {{{ header?.scroll_bar_div }}}

    <div class="mb-3"></div>

	{{{ await $slots.main() }}}

	<div class="mt-4">

    <footer class="w-100">
        <div class="alert text-center cookiealert" role="alert">
			<b>We use cookies to improve your experience, offers and advertisements on the site. Our <a href="/privacy">Privacy and Terms of Use Policy</a>

			<button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
				I Agree
			</button>
		</div>
    </footer>

    <script src="../scripts/cookies.js"></script>

    {{{ header?.scroll_bar_script }}}

    <div class="mt-5">

</body>

</html>

