{{>partials/header}}

	<div class="container col-lg-12 mt-3 mx-auto">


		{{#flash_success}}
            <div class="text-center alert alert-success" role="alert">
                <b>{{flash_success}}</b>
            </div>
        {{/flash_success}}


        {{#flash_warning}}
            <div class="text-center alert alert-warning" role="alert">
                <b>{{flash_warning}}</b>
            </div>
        {{/flash_warning}}



		<div class="row">

            <div class="col-lg-6">

            	{{{divPlanBanner}}}

            </div>

	        <div class="col-lg-6">
        		{{#subsTransactionObject}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>TRANSACTION_ID:</b> {{transaction_id}}</li>
                        <li class="list-group-item"><b>PAYMENT_METHOD:</b> {{payment_method.card_id}}</li>
                        <li class="list-group-item"><b>CARD_BRAND:</b> {{payment_method.card_brand}}</li>
                        <li class="list-group-item"><b>CARD_LAST4:</b> {{payment_method.card_last4}}</li>
                        <li class="list-group-item"><b>CARD_EXP_MONTH:</b> {{payment_method.card_exp_month}}</li>
                        <li class="list-group-item"><b>CARD_EXP_YEAR:</b> {{payment_method.card_exp_year}}</li>
                        <li class="list-group-item"><b>SUBSCRIPTION_STATUS:</b> {{status}}</li>
                        <li class="list-group-item"><b>CUSTOMER_STRIPE_ID:</b> {{customer.stripe_id}}</li>
                        <li class="list-group-item"><b>CUSTOMER_EMAIL:</b> {{user.email}}</li>
                        <li class="list-group-item"><b>CURRENT_PERIOD_START:</b> {{plan.current_period_start}}</li>
                        <li class="list-group-item"><b>CURRENT_PERIOD_END:</b> {{plan.current_period_end}}</li>
                        <li class="list-group-item"><b>CREATED:</b> {{created_at}}</li>
                    </ul>
        		{{/subsTransactionObject}}
	        </div>

	    </div>

	</div>

    <script src="../../scripts/navbar_apis.js"></script>
    <script src="../../scripts/privacy.js"></script>

{{>partials/footer}}
