{{>partials/header}}

	<div class="container col-lg-6 mt-3 text-center">

		<div class="row">

            {{#flash_warning}}
                <div class="text-center alert alert-warning" role="alert">
                    <b>{{flash_warning}}</b>
                </div>
            {{/flash_warning}}

            <h3 class="fw-bold text-white mt-3"> Enjoy even more the App with Premium Plan!</h3>

            <div class="container col-lg-6 mt-5">
                <div class="card mb-4 rounded-3 shadow">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold text-dark">
                            <i class="bi bi-award"></i>
                            PREMIUM
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title plans-card-title fw-bold text-dark">$1.99<small class="text-muted fw-light">/month</small></h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start fw-bold text-dark">
                            <li>✔️ 10k Recomendations Daily</li>
                            <li>✔️ 10k API Requests Daily</li>
                            <li>✔️ Get Recommendations in your Email</li>
                            <li>✔️ Get Recommendations in your Telegram</li>
                        </ul>
                        <a href="/plan/premium/checkout" class="shadow w-100 fw-bold btn btn-outline-light text-dark"><i class="bi bi-check-circle"></i> Sign Premium</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

