{{>partials/header}}

    {{#user}}

    <div class="container col-lg-6 mt-3">

        <div class="row">

            {{#flash_warning}}
                <div class="text-center alert alert-warning" role="alert">
                    <b>{{flash_warning}}</b>
                </div>
            {{/flash_warning}}

            <form id="formCreditCard" action="/plan/pro/checkout" method="POST">

                <input type="text" name="plan_name" value="PRO" hidden>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="card mb-4 rounded-3 shadow-sm text-center">
                            <div class="card-header py-3 bg-warning">
                                <h4 class="my-0 fw-bold text-white">
                                    <i class="bi bi-award"></i>
                                    PRO
                                </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$1.99<small class="text-muted fw-light">/month</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>✔️ Site Ilimited Recomendations</li>
                                    <li>✔️ Get Recommendations in your Email</li>
                                    <li>❌ Get Recommendations in your Telegram</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="email" required autofocus value="{{email}}" readonly>
                            <label for="email">Email</label>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div class="form-floating">
                            <input type="password" id="confirm_password" name="confirm_password" value="" class="form-control" required minlength="6">
                            <label for="confirm_password">Confirm Password</label>
                        </div>


                        <br>

                    </div>


                    <div class="col-lg-6">

                        {{#user.stripe.card_id}}
                            <div class="form-floating mb-3">
                                <input id="stripe_card_last_4_digits" name="stripe_card_last_4_digits" class="mb-2 form-control" type="text" value="{{user.stripe.card_id}}" readonly>
                                <label for="stripe_card_last_4_digits">REGISTRED_STRIPE CARD_ID</label>
                            </div>

                            <div class="form-floating mb-3">
                                  <input id="stripe_card_last_4_digits" name="stripe_card_last_4_digits" class="mb-2 form-control" type="text" value="{{user.stripe.card_last4}}" readonly>
                                  <label for="stripe_card_last_4_digits">STRIPE_CARD_LAST_4_DIGITS</label>
                            </div>

                            <div class="row g-2 mb-2">
                              <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="card_exp_month" id="card_exp_month" value="{{stripe.card_exp_month}}" readonly>
                                  <label for="card_exp_month">CARD_EXP_MONTH</label>
                                </div>
                              </div>
                              <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="card_exp_year" id="card_exp_year" value="{{stripe.card_exp_year}}" readonly>
                                  <label for="card_exp_year">CARD_EXP_YEAR</label>
                                </div>
                              </div>
                            </div>
                        {{/user.stripe.card_id}}


                        {{^user.stripe.card_id}}
                        <div id="credit-card" class="tab-pane fade show active">

                            <div id="div_credit_card"></div>

                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" name="holder_name" id="holder_name" value="{{stripe.card_holder_name}}">
                                <label for="holder_name">CARD_HOLDER_NAME</label>
                            </div>

                            <div class="form-group mb-2">
                                <div class="input-group">
                                    <input type="text" name="card_number" placeholder="Credit Card Number" class="form-control" value="4242424242424242" required>
                                    <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="bi bi-credit-card h-100"></i> </span> </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <span class="hidden-xs">
                                            <h6 class="text-muted small">Expiration Date</h6>
                                        </span>
                                        <div class="input-group">
                                            <input type="number" placeholder="Month" name="card_exp_month" min="1" max="12" step="1" class="form-control" value="08" required>
                                            <input type="number" placeholder="Year" name="card_exp_year" min="2021" step="1" class="form-control" required value="2022">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label data-toggle="tooltip" title="Digite os 3 dígitos de segurança atrás do Credit Card.">
                                        <h6 class="text-muted small">CVV
                                            <i class="fa fa-question-circle d-inline"></i>
                                        </h6>
                                        <input type="text" name="card_cvc" id="card_cvc" required class="form-control" placeholder="Code CVV" value="314">
                                    </div>
                                </div>
                            </div>

                            {{/user.stripe.card_id}}
                            
                            <div>
                                <button type="submit" class="mt-1 mb-1 btn btn-outline-success btn-block shadow w-100">
                                    <span class="fw-bold">Pay $ 1.99/Month</span>
                                </button>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- end row -->

            </form>


        </div>

    </div>

    
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery.card.js"></script>
    <script src="/scripts/render_credit_card.js"></script>

    {{/user}}

{{>partials/footer}}
