{{>partials/header}}

  <div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/customers/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
                <a href="/admin/stripe/customers/update" class="btn shadow-sm ms-1 me-1 btn-outline-warning">Update</a>
                <a href="/admin/stripe/customers/delete" class="btn shadow-sm ms-1 me-1 btn-outline-danger">Delete</a>
            {{/user.admin}}
            <a href="/admin/stripe/customers/retrieve" class="btn shadow-sm ms-1 me-1 btn-primary">Retrieve</a>
            <a href="/admin/stripe/customers/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-primary mb-3">
                <i class="bi bi-person"></i> RETRIEVE Customer
            </h3>

            <a class="mb-5" target="_blank" href="https://stripe.com/docs/api/customers/retrieve">https://stripe.com/docs/api/customers/retrieve</a>

            <div class="col-lg-5">
  		
        		<form action="/admin/stripe/customers/retrieve" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
        			  	<input type="text" class="form-control" name="customer_id" id="customer_id" placeholder="Customer Name" value="cus_K15RnWHRhUA0HF" required autofocus>
        			  	<label for="customer_id">CUSTOMER_ID</label>
        			</div>

        			<button type="submit" class="btn btn-outline-primary w-100 shadow">Retrieve Customer</button>
        		</form>

            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#customer}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>NAME:</b> {{name}}</li>
                        <li class="list-group-item"><b>EMAIL:</b> {{email}}</li>
                    </ul>
        		{{/customer}}
            </div>

        </div>

	</div>

{{>partials/footer}}