{{>partials/header}}

    {{#user}}

	<div class="container col-lg-9 mt-3 mb-3 mx-auto">

        <form id="formCreditCard" action="/shop" method="POST">

            <input type="text" value="{{shopCartTotalAmount}}" id="total_shop_amount" name="total_shop_amount" hidden onkeydown="return false;">

          	<div class="row">

                {{#flash_success}}
                    <div class="text-center alert alert-success" role="alert">
                        <b>{{flash_success}}</b>
                    </div>
                {{/flash_success}}

                {{#flash_warning}}
                    <div class="text-center alert alert-warning" role="alert">
                        <b>{{flash_warning}}</b>
                    </div>
                {{/flash_warning}}

                <div class="col-lg-4 mb-3">

                    <ul class="list-group text-center">

                        {{#shopCartItens}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img class="h-25 w-25" src="{{image}}">
                                <small>{{title}}</small>
                                <b>$ <span>{{price}}</span></b>
                                <a href="/removeCart/{{id}}" type="submit" class="btn btn-sm btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </li>
                        {{/shopCartItens}}

                        <li class="list-group-item d-flex justify-content-between align-items-center bg-warning">
                            <b>TOTAL</b>
                            <b>$ <span id="total_shop_cart">{{shopCartTotalAmount}}</span></b>
                        </li>

                    </ul>

                </div>


                <div class="col-lg-4">

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="customer_name" id="customer_name" value="{{name}}" readonly>
                      <label for="customer_name">NAME</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="customer_email" id="customer_email" value="{{email}}" readonly>
                      <label for="customer_email">EMAIL</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input class="mb-2 form-control" id="customer_phone" type="text" name="customer_phone" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" minlength="11" maxlength="11" value="{{phone}}" readonly>
                      <label for="customer_phone">TELEGRAM_NUMBER</label>
                    </div>

                    <hr>

                    <div class="form-floating mb-3">
                          <input class="mb-2 form-control" id="zipcode" type="text" name="zipcode" pattern= "\d{5}-?\d{3}"  value="" required>
                          <label for="zipcode">ZIPCODE</label>
                    </div>

                    <div class="row">

                        <!-- STREET -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_street" name="customer_street" placeholder="Street" value="" required onkeydown="return false;">
                        </div>

                        <!-- NEIGHBORHOOD -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_neighborhood" name="customer_neighborhood" placeholder="Neighborhood" value="" required onkeydown="return false;">
                        </div>

                        <!-- CITY -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_city" name="customer_city" placeholder="City" value="" required onkeydown="return false;">
                        </div>

                        <!-- STATE -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_state" name="customer_state" placeholder="State" value="" required onkeydown="return false;">
                        </div>

                        <!-- COUNTRY -->
                        <div class="col-sm-12 mb-2">
                          <input type="text" class="form-control" id="customer_country" name="customer_country" placeholder="Country" value="" required onkeydown="return false;">
                        </div>


                        <!-- SHIPPING CARRIER -->
                        <label for="shipping_fee" class="col-sm-5 col-form-label">Shipping Carrier</label>
                        <div class="col-sm-7 mb-3">
                            <!-- SHIPMENT_PRICE -->
                            <input type="text" class="form-control" value="" name="shipping_carrier" id="shipping_carrier" required onkeydown="return false;">
                        </div>


                        <!-- SHIPPING FEE -->
                        <label for="shipping_fee" class="col-sm-5 col-form-label">Shipping Fee $</label>
                        <div class="col-sm-7 mb-3">
                            <!-- SHIPMENT_FEE -->
                            <input type="text" class="form-control" value="" name="shipping_fee" id="shipping_fee" required onkeydown="return false;">
                        </div>

                        <!-- SHIPPING DEADLINE -->
                        <label for="shipping_deadline" class="col-sm-5 col-form-label">Deadline (days)</label>
                        <div class="col-sm-7">
                            <!-- SHIPMENT__TIME -->
                            <input type="text" class="form-control" value="" name="shipping_deadline" id="shipping_deadline" required onkeydown="return false;">
                        </div>

                    </div>
                    <!-- END FORM-GROUP-ROW -->

                    <br>

                </div>
                <!-- END SHIPPING ADDRESS -->





                <!-- PAYMENTS -->
                <div class="col-lg-4">

                    {{#user.stripe.card_token_id}}
                        <div class="form-floating mb-3">
                            <input id="stripe_card_last_4_digits" name="stripe_card_last_4_digits" class="mb-2 form-control" type="text" value="{{user.stripe.card_id}}" readonly>
                            <label for="stripe_card_last_4_digits">REGISTRED_STRIPE CARD_ID</label>
                        </div>


                        <div class="form-floating mb-3">
                              <input id="stripe_card_last_4_digits" name="stripe_card_last_4_digits" class="mb-2 form-control" type="text" value="{{user.stripe.card_last4}}" readonly>
                              <label for="stripe_card_last_4_digits">STRIPE_CARD_LAST_4_DIGITS</label>
                        </div>

                        <div class="row g-2 mb-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" name="card_exp_year" id="card_exp_month" value="{{stripe.card_exp_month}}" readonly>
                              <label for="card_exp_month">CARD_EXP_MONTH</label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" name="card_exp_year" id="card_exp_year" value="{{stripe.card_exp_year}}" readonly>
                              <label for="card_exp_year">CARD_EXP_YEAR</label>
                            </div>
                          </div>
                        </div>
                    {{/user.stripe.card_token_id}}




                    {{^user.stripe.card_token_id}}

                    <div id="div_credit_card"></div>

                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" name="holder_name" id="holder_name" value="">
                        <label for="holder_name">CARD_HOLDER_NAME</label>
                    </div>

                    <div class="form-group mb-2">
                        <div class="input-group">
                            <input type="text" name="card_number" placeholder="Credit Card Number" class="form-control" value="4242424242424242" required>
                            <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="bi bi-credit-card h-100"></i> </span> </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <span class="hidden-xs">
                                    <h6 class="text-muted small">Expiration Date</h6>
                                </span>
                                <div class="input-group">
                                    <input type="number" placeholder="Month" name="card_exp_month" min="1" max="12" step="1" class="form-control" value="08" required>
                                    <input type="number" placeholder="Year" name="card_exp_year" min="2023" step="1" class="form-control" required value="2023">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-4">
                                <label data-toggle="tooltip" title="Digite os 3 dígitos de segurança atrás do Credit Card.">
                                <h6 class="text-muted small">CVV
                                    <i class="fa fa-question-circle d-inline"></i>
                                </h6>
                                <input type="text" name="card_cvc" required class="form-control" placeholder="Code CVV" value="314">
                            </div>
                        </div>
                    </div>

                    {{/user.stripe.card_token_id}}

                    <hr>

                    <div class="form-floating mb-3">
                      	<input type="password" value="test123" class="form-control" id="confirm_password" name="confirm_password" required minlength="6">
                      	<label for="confirm_password">CONFIRM_YOUR_PASSWORD</label>
                    </div>

                    <div>
                        <button type="submit" class="fw-bold btn btn-outline-success btn-block shadow w-100">
                            Pay $ <span id="button_pay_price">{{shopCartTotalAmount}}</span> <i class="bi bi-check2-circle"></i>
                        </button>
                    </div>

                </div>
                <!-- END PAYMENTS -->

            </div>
            <!-- END ROW -->

        </form>

    </div>

	<script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.card.js"></script>
    <script src="scripts/render_credit_card.js"></script>
    <script src="scripts/shop.js"></script>

    {{/user}}
