{{>partials/header}}

    <div class="container col-lg-12">

        <div class="row">

        <h4 class="mt-3 mb-3 fw-bold text-center" id="welcome_api_phrase"></h4>

            <div class="col-lg-4 mt-3">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="today"></li>
                        <li class="list-group-item" id="realTime"></li>
                        <li class="list-group-item" class="fw-bold">Brazil Brasília UTC -3:00</li>
                        <li class="list-group-item" id="dolar"></li>
                        <li class="list-group-item" id="euro"></li>
                        <li class="list-group-item" id="bitcoin"></li>
                    </ul>

            </div>

            <div class="col-lg-4">
                <div data-js="currencies-container" class="mt-3 row justify-content-center mb-3">

                <div class="col-sm-6 col-lg-6">
                    <select data-js="currency-one" class="form-select"></select>
                  </div>

                  <div class="col-sm-6 col-lg-6">
                    <select data-js="currency-two" class="form-select"></select>
                  </div>
                </div>

                <div class="row justify-content-center align-items-center mb-3">
                  <div class="col-sm-6 col-lg-6">
                    <input data-js="currency-one-times" type="number" min="1" class="form-control form-control-lg" value="1">
                  </div>

                  <div class="col-sm-6 col-lg-6">
                    <p data-js="converted-value" class="converted-value fs-1 text-center mb-0"></p>
                  </div>

                  <p data-js="conversion-precision" class="conversion-precision text-center m-4"></p>
                </div>
            </div>

            <div class="col-lg-4">
                <form id="form_search_city">
                    <input class="form-control" id="search_city" type="search" placeholder="City name"/>
                    <button class="mt-2 w-100 btn btn-outline-primary pull-right shadow">Search City</button>
                </form>


                <div id="city_name_weather">
                    <div class="titulo">--</div>

                    <div class="info">
                        <div class="temp">
                            <div class="tempTitulo">Temperature</div>
                            <div class="tempInfo">-- <sup>ºC</sup></div>
                            <img src="http://openweathermap.org/img/wn/10d@2x.png" />
                        </div>
                        <div class="vento">
                            <div class="ventoTitulo">Wind</div>
                            <div class="ventoInfo">-- <span>km/h</span></div>
                            <div class="ventoArea">
                                <div class="ventoPonto" style="transform: rotate(0deg)"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="alert_city_name"></div>
            </div>

        </div>

    </div>

    <script src="../scripts/datetime_money.js"></script>
    <script src="../scripts/weather.js"></script>

    <script src="../scripts/twriter.js"></script>
    <script src="../scripts/exchange.js"></script>
    <script src="../scripts/app_money.js"></script>

{{>partials/footer}}
