{{>partials/header}}

    <main class="container col-lg-6 mb-5">

        <div class="row">

            <h2 class="text-center fw-bold mt-3 mb-5 text-success">LocalStorage ToDo List</h2>
            <div class="actions">
                <form id="new-todo">
                    <input type="text" class="input form-control" placeholder="I have something to do..." name="text">
                    <button class="mt-2 w-25 button btn btn-outline-success shadow">Add Todo</button>
                </form>


                <div class="mt-2 actions__container">
                    <input id="search-text" class="input form-control" type="text" placeholder="Filter todos">
                    <label class="checkbox mt-2">
                        <input type="checkbox" id="hide-completed"> Hide completed
                    </label>
                </div>
            </div>

            <div id="todos" class="mt-3 mb-3"></div>

        </div>

    </main>

    <script src="../scripts/todo-functions.js"></script>
    <script src="../scripts/todo-app.js"></script>

{{>partials/footer}}
