{{>partials/header}}

	<div class="container col-lg-12 mt-3">

      	<div class="row">
            <input type="text" id="app_url" hidden value="{{app_url}}" readonly>

            {{^tvshows}}
                {{^tvshow}}
                    <div class="text-center alert alert-warning" role="alert" class="mb-3">
                        <b class="fw-bold">No tvshows found!</b>
                    </div>
                {{/tvshow}}
            {{/tvshows}}


            {{#flash_success}}
                <div class="text-center alert alert-success" role="alert">
                    <b>{{flash_success}}</b>
                </div>
            {{/flash_success}}

            {{#flash_warning}}
                <div class="text-center alert alert-warning" role="alert">
                    <b>{{flash_warning}}</b>
                </div>
            {{/flash_warning}}



            {{#tvshow}}
                <input id="tvshow_id" name="tvshow_id" type="hidden" value="{{id}}">

                <div class="col-lg-3 text-center">
                    <img id="tvshow_image" src="{{image}}" class="shadow mx-auto d-block w-75 image-fluid mb-3" alt="tvshow_image">

                    {{#user.admin}}
                        <a href="/admin/update/tvshow/{{id}}" class="w-75 shadow mb-2 btn btn-warning shadow">
                        <i class="bi bi-unlock-fill"></i>
                        Edit This TVShow</a>
                    {{/user.admin}}
                </div>



                <div class="col-lg-6">

                    <div class="card-body">

                        <input id="tvshow_id" name="tvshow_id" type="hidden" value="{{id}}">

                        <div class="d-flex justify-content-between mb-3">
                            <a target="_blank" id="tvshow_tmdb_link" style="text-decoration:none;" href="{{tmdb_link}}" class="fs-3 card-link text-decoration-none">
                                <span id="tvshow_title" class="fw-bold">{{title}}</span>
                                (<span id="tvshow_year_release" class="text-muted">{{year_release}}</span>)
                            </a>

                            <h3 class="fw-bold text-warning">⭐
                                <span id="tvshow_tmdb_rating">
                                    {{tmdb_rating}}
                                </span>
                            </h3>
                        </div>

                        <p class="card-text" id="tvshow_resume">{{resume}}</p>

                        <ul class="mt-3">

                            <li class=""><b><a onclick="return false;" target="_blank" href="#"><i class="bi bi-link-45deg"></i>JustWatch Link</a></b></li>

                            <li><b>Genres:</b> <small id="tvshow_genres">{{genres}}</small></li>

                            <li><b>Duration:</b> <small id="tvshow_duration">{{duration}}</small></li>
                        </ul>
                    </div>
                </div>
                <!-- END BOOK POST -->


                <div class="col-lg-3 mb-3">

                    <form class="mb-3" action="/searchTVShow" method="GET">
                        <input class="form-control" type="search" placeholder="Search TVShow Title..." aria-label="Search" name="title">
                    </form>

                    <div class="list-group">
                        <a href="/" class="d-flex justify-content-between list-group-item list-group-item-action" aria-current="true">
                            <i class="bi bi-controller"></i>
                            <span>Games</span>
                            <span>{{totalGames}}</span>
                        </a>

                        <a href="/books" class="d-flex justify-content-between list-group-item list-group-item-action">
                            <i class="bi bi-book"></i>
                            <span>Books</span>
                            <span>{{totalBooks}}</span>
                        </a>

                        <a href="/movies" class="d-flex justify-content-between list-group-item list-group-item-action">
                            <i class="bi bi-tv"></i>
                            <span>Movies</span>
                            <span>{{totalMovies}}</span>
                        </a>

                        <a href="/tvshows" class="d-flex justify-content-between list-group-item list-group-item-action text-white bg-dark">
                            <i class="bi bi-tv"></i>
                            <span>TV Shows</span>
                            <span>{{totalTVShows}}</span>
                        </a>
                    </div>

                    <button class="mt-3 w-100 btn btn-outline-primary shadow mb-3" onclick="recommendOtherTVShow()">
                            <i class="bi bi-play-fill"></i>
                            Recommend Other TVShow
                    </button>

                    {{^user}}
                        <div id="newsletter_card">

                        </div>
                    {{/user}}
                </div>
            {{/tvshow}}







            {{#tvshows}}

                <div class="col-lg-3 text-center">
                    <img id="tvshow_image" src="{{image}}" class="shadow mx-auto d-block w-75 image-fluid mb-3" alt="tvshow_image">
                </div>

                <div class="col-lg-6">

                    <div class="card-body">

                        <input id="tvshow_id" name="tvshow_id" type="hidden" value="{{id}}">

                        <div class="d-flex justify-content-between mb-3">
                            <a target="_blank" style="text-decoration:none;" href="{{tmdb_link}}" class="fs-3 card-link text-decoration-none">
                                <span id="tvshow_title" id="tvshow_tmdb_link" class="fw-bold">{{title}}</span>
                                (<span id="tvshow_year_release" class="text-muted">{{year_release}}</span>)
                            </a>

                            <h3 class="fw-bold text-warning">⭐
                                <span id="tvshow_tmdb_rating">
                                    {{tmdb_rating}}
                                </span>
                            </h3>
                        </div>

                        <small class="card-text" id="tvshow_resume">{{resume}}</small>

                        <ul class="mt-3">

                            <li class=""><b><a onclick="return false;" target="_blank" href="#"><i class="bi bi-link-45deg"></i>JustWatch Link</a></b></li>

                            <li><small><b>Genres:</b></small> <small id="tvshow_genres">{{genres}}</small></li>

                            <li><small><b>Duration:</b></small> <small id="tvshow_duration">{{duration}}</small></li>
                        </ul>
                    </div>
                </div>



                {{#firstTVShow}}
                    <div class="col-lg-3 mb-3">

                        <form class="mb-3" action="/searchTVShow" method="GET">
                            <input class="form-control" type="search" placeholder="Search TVShow Title..." aria-label="Search" name="title">
                        </form>

                        <div class="list-group">
                            <a href="/" class="d-flex justify-content-between list-group-item list-group-item-action" aria-current="true">
                                <i class="bi bi-controller"></i>
                                <span>Games</span>
                                <span>{{totalGames}}</span>
                            </a>

                            <a href="/books" class="d-flex justify-content-between list-group-item list-group-item-action">
                                <i class="bi bi-book"></i>
                                <span>Books</span>
                                <span>{{totalBooks}}</span>
                            </a>

                            <a href="/movies" class="d-flex justify-content-between list-group-item list-group-item-action">
                                <i class="bi bi-tv"></i>
                                <span>Movies</span>
                                <span>{{totalMovies}}</span>
                            </a>

                            <a href="/tvshows" class="d-flex justify-content-between list-group-item list-group-item-action bg-dark text-white">
                                <i class="bi bi-tv"></i>
                                <span>TV Shows</span>
                                <span>{{totalTVShows}}</span>
                            </a>
                        </div>

                        {{^user}}
                            <div id="newsletter_card">

                            </div>
                        {{/user}}

                    </div>
                {{/firstTVShow}}

                {{^firstTVShow}}<div class="col-lg-3"></div>{{/firstTVShow}}

            {{/tvshows}}


        </div>
        <!-- END ROW -->
	
    </div>
    <!-- END CONTAINER -->

    <script src="scripts/tvshows.js"></script>

    <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <script src="scripts/newsletter.js"></script>

{{>partials/footer}}
