{{>partials/header}}

    {{#shopTransaction}}

    <div class="container col-lg-12 text-center mt-3">

        <div class="row">

            <h4 class="mt-3 mb-5">
                <span class="fw-bold"><i class="bi bi-cart"></i>
                Shop Transaction ID:</span> <span class="fw-bold text-success">{{shopTransaction.transaction_id}}</span>
            </h4>

			<div class="col-lg-4 mb-3">
	                    
	            <ul class="list-group text-center">
	                
	                {{#products}}
		                
		                <li class="list-group-item d-flex justify-content-between align-items-center">
		                    
		                    <img class="h-25 w-25" src="{{image}}">
		                    
		                    {{title}}
		                    
		                    <b>
		                    	$
		                    	<span>
		                    		{{price}}
		                    	</span>
		                   	</b>
		                </li>

	                {{/products}}  

	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                    Shipping Fee  
	                    <b>$ <span>{{shipping_fee}}</span></b>
	                </li>

	                <li class="list-group-item d-flex justify-content-between align-items-center bg-warning">
	                    <b>TOTAL</b>  
	                    <b>$ <span>{{total_amount}}</span></b>
	                </li>
	            
	            </ul>

	        </div>

			<div class="col-lg-4">
    			<ul class="list-group list-group-flush text-start">
                    <li class="list-group-item"><b>Currency:</b> {{currency}}</li>
                    <li class="list-group-item"><b>Total Amount:</b> {{total_amount}}</li>
                    <li class="list-group-item"><b>Paid:</b> {{paid}}</li>
                    <li class="list-group-item"><b>Stripe Card ID:</b> {{card_id}}</li>
                    <li class="list-group-item"><b>Stripe Card BRAND:</b> {{card_brand}}</li>
                    <li class="list-group-item"><b>Stripe Card EXP_YEAR:</b> {{card_exp_year}}</li>
                    <li class="list-group-item"><b>Stripe Card EXP_MONTH:</b> {{card_exp_month}}</li>
                    <li class="list-group-item"><b>Stripe Card LAST4:</b> {{card_last4}}</li>
                    <li class="list-group-item"><b>Created At:</b> {{created_at}}</li>
                </ul>
	        </div>

	        <div class="col-lg-4">
    			<ul class="list-group list-group-flush text-start">
                    <li class="list-group-item"><b>Customer:</b> {{user_name}}</li>
                    <li class="list-group-item"><b>Phone:</b> {{user_phone}}</li>
                    <li class="list-group-item"><b>Email:</b> {{user_email}}</li>
                    <li class="list-group-item"><b>Shipping ZipCode:</b> {{shipping_address_zipcode}}</li>
                    <li class="list-group-item"><b>Shipping Street:</b> {{shipping_address_street}}</li>
                    <li class="list-group-item"><b>Shipping Neighborhood:</b> {{shipping_address_neighborhood}}</li>
                    <li class="list-group-item"><b>Shipping City:</b> {{shipping_address_city}}</li>
                    <li class="list-group-item"><b>Shipping State:</b> {{shipping_address_state}}</li>
                    <li class="list-group-item"><b>Shipping Country:</b> {{shipping_address_country}}</li>
                    <li class="list-group-item"><b>Shipping Carrier:</b> {{shipping_carrier}}</li>
                </ul>
	        </div>

        </div>

    </div>

    {{/shopTransaction}}

