{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/charges/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
            {{/user.admin}}
            <a href="/admin/stripe/charges/retrieve" class="btn shadow-sm ms-1 me-1 btn-primary">Retrieve</a>
            <a href="/admin/stripe/charges/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-primary mb-3">
                <i class="bi bi-credit-card-2-front"></i> RETRIEVE Charge Information
            </h3>

            <a target="_blank" class="mb-5" href="https://stripe.com/docs/api/charges/retrieve">
                https://stripe.com/docs/api/charges/retrieve
            </a>

            <div class="col-lg-5">
        		<form action="/admin/stripe/charges/retrieve" method="POST" class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="charge_id" id="charge_id" placeholder="Customer Name" required autofocus value="ch_3JJ3O2BD6lhzYmkO17GM7JzX">
                        <label for="charge_id">CHARGE_ID</label>
                    </div>

        			<button type="submit" class="btn btn-outline-primary w-100 shadow">Retrieve Charge</button>
        		</form>
            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#charge}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>CHARGE_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>STATUS:</b> {{status}}</li>
                        <li class="list-group-item"><b>AMOUNT:</b> {{amount}}</li>
                        <li class="list-group-item"><b>NAME:</b> {{billing_details.name}}</li>
                        <li class="list-group-item"><b>EMAIL:</b> {{billing_details.email}}</li>
                        <li class="list-group-item text-wrap text-break"><b>DESCRIPTION:</b> {{description}}</li>
                        <li class="list-group-item"><b>CREATED_AT:</b> {{created}}</li>
                    </ul>
        		{{/charge}}
            </div>

        </div>

	</div>

{{>partials/footer}}