{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/cards/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
                <a href="/admin/stripe/cards/update" class="btn shadow-sm ms-1 me-1 btn-outline-warning">Update</a>
                <a href="/admin/stripe/cards/delete" class="btn shadow-sm ms-1 me-1 btn-outline-danger">Delete</a>
            {{/user.admin}}
            <a href="/admin/stripe/cards/retrieve" class="btn shadow-sm ms-1 me-1 btn-outline-primary">Retrieve</a>
            <a href="/admin/stripe/cards/listAll" class="btn shadow-sm ms-1 me-1 btn-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-info mb-3">
                <i class="bi bi-list-ul"></i> LIST Customer Credit Cards
            </h3>

            <a target="_blank" class="mb-5" href="https://stripe.com/docs/api/cards/list">
                https://stripe.com/docs/api/cards/list
            </a>

            <div class="col-lg-5">
        		<form action="/admin/stripe/cards/listAll" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
        			  	<input type="text" class="form-control" name="customer_id" id="customer_id" placeholder="Customer Name" required autofocus value="cus_K15RnWHRhUA0HF">
        			  	<label for="customer_id">CUSTOMER_ID</label>
        			</div>

        			<button type="submit" class="btn btn-outline-info w-100 shadow">List All Credit Cards</button>
        		</form>
            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#cards}}
        			<ul class="list-group list-group-flush mt-3 text-start">
                        <li class="list-group-item"><b>CARD ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>CUSTOMER ID:</b> {{customer}}</li>
                        <li class="list-group-item"><b>BRAND:</b> {{brand}}</li>
                        <li class="list-group-item"><b>CARD_EXP_MONTH:</b> {{exp_month}}</li>
                        <li class="list-group-item"><b>CARD_EXP_YEAR:</b> {{exp_year}}</li>
                        <li class="list-group-item"><b>CARD_LAST_4:</b> {{last4}}</li>
                    </ul>
        		{{/cards}}
            </div>

        </div>

	</div>

{{>partials/footer}}