/**
* Progress Scrolling Bar
*/
.progress-container {
  width: 100%;
  height: 5px;
}

.progress-bar {
  height: 5px;
  background-color: #9309AF !important;
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 999999;
}
/**
  * End Progress Bar ********************
  */
