#city_name_weather {
    display: none;
    border: 1px dotted #FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

