    <div class="mt-4">

    <footer class="w-100">
        <div class="alert text-center cookiealert" role="alert">
			<b>We use cookies to improve your experience, offers and advertisements on the site. Our <a href="/privacy">Privacy and Terms of Use Policy</a>

			<button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
				I Agree
			</button>
		</div>
    </footer>

    <script src="../scripts/cookies.js"></script>

    {{{header.scroll_bar_script}}}

    <div class="mt-5">

</body>

</html>
