    <div class="mt-4">

    <footer class="w-100">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-md-8 text-center">
                    <p class="text-muted">Get promotions and discounts in your email!</p>
                    
                    <form action="https://tinyletter.com/Galhardo-APP" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Galhardo-APP', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                        <div class="input-group mb-3">
                            <input type="text" name="email" id="tlemail"  class="form-control" placeholder="Enter your email" name="email" id="tlemail" required>
                            <input type="hidden" value="1" name="embed"/>
                            <button type="submit" class="btn btn-primary fw-bold text-white shadow-sm">Lets Go!</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-12 text-center text-muted mt-3">
                    <small>&copy; <a class="text-primary" href="https://galhardoapp.com">Galhardo APP</a> | <a class="text-primary" target="_blank" href="/about">About</a> | <a class="text-primary" href="/privacy" target="_blank">Privacy and Terms</a></small>
                </div>

            </div>
        </div>
    </footer>

    <div class="alert text-center cookiealert" role="alert">
        <b>We use cookies on the website to improve our services and your website experience. Read our <a href="/privacy">Terms Of Use and Privacy Policy</a></b>

        <button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
            I Agree
        </button>
    </div>

    <div class="alert text-center cookiealert" role="alert">
        <b>We use cookies to improve your experience, offers and advertisements on the site. Our <a href="/privacy">Privacy and Terms of Use Policy</a>

        <button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
            I Agree
        </button>
    </div>

    <script src="../scripts/cookies.js"></script>
    <script src="../scripts/newsletter.js"></script>

    {{{header.scroll_bar_script}}}

    <div class="mt-5">

</body>

</html>
