{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            <a href="/admin/stripe/subscriptions/create" class="btn shadow-sm ms-1 me-1 btn-success">Create</a>
            <a href="/admin/stripe/subscriptions/cancel" class="btn shadow-sm ms-1 me-1 btn-outline-danger">Cancel</a>
            <a href="/admin/stripe/subscriptions/retrieve" class="btn shadow-sm ms-1 me-1 btn-outline-primary">Retrieve</a>
            <a href="/admin/stripe/subscriptions/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-success mb-3">
                <i class="bi bi-plus"></i> CREATE Subscription
            </h3>

            <a class="mb-5" target="_blank" href="https://stripe.com/docs/api/subscriptions/create">https://stripe.com/docs/api/subscriptions/create</a>

            <div class="col-lg-5">
  		
        		<form action="/admin/stripe/subscriptions/create" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
                        <input type="text" class="form-control" id="customer_id" name="customer_id" required value="">
                        <label for="customer_id">CUSTOMER_ID</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="plan_id" name="plan_id" required value="plan_JxJMW54dmkHkfF">
                        <label for="plan_id">PLAN_ID</label>
                    </div>

        			<button type="submit" class="btn btn-outline-success w-100 shadow">Create Subscription</button>
        		</form>

            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#subscription}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>SUBS_ID:</b> {{id}}</li>
                        <!--<li class="list-group-item"><b>PLAN_NAME:</b> {{plan_name}}</li>-->
                        <li class="list-group-item"><b>SUBS_STATUS:</b> {{status}}</li>
                        <li class="list-group-item"><b>current_period_end:</b> {{current_period_end}}</li>
                        <li class="list-group-item"><b>current_period_start:</b> {{current_period_start}}</li>
                        <li class="list-group-item"><b>cancel_at_period_end:</b> {{cancel_at_period_end}}</li>
                        <li class="list-group-item"><b>CUSTOMER:</b> {{customer}}</li>
                        <li class="list-group-item"><b>CREATED:</b> {{created}}</li>
                    </ul>
        		{{/subscription}}
            </div>

        </div>

	</div>

{{>partials/footer}}