{{>partials/header}}

    <main class="container col-lg-5 mt-3 text-center">

        <div class="row justify-content-center">
            <img src="https://geekblog.com.br/wp-content/uploads/2021/02/Erro-404-1-1-1024x645-1.jpg" class="image-fluid">
        </div>

    </main>

{{>partials/footer}}