{{>partials/header}}
	
	{{#user.admin}}

	{{#movie}}

	<main class="container col-lg-10 mt-3 text-center">

        <div class="row" class="text-end d-flex justify-content-between">

        	<form action="/admin/update/movie/{{id}}" method="POST">

	        	<div class="mb-3 row">

	        		{{#flash_success}}
                        <div class="text-center alert alert-success" role="alert">
                            <b>{{flash_success}}</b>
                        </div>
                    {{/flash_success}}

                    {{#flash_warning}}
                        <div class="text-center alert alert-warning" role="alert">
                            <b>{{flash_warning}}</b>
                        </div>
                    {{/flash_warning}}

			        <div class="col-lg-6">

			        	<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_id" id="movie_id" value="{{id}}" required onkeydown="return false;">
						  	<label for="movie_id">MOVIE_ID</label>
						</div>
					    
					    <div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_title" id="movie_title" value="{{title}}" required>
						  	<label for="movie_title">MOVIE_TITLE</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="number" step="1" min="1980" max="2030" class="form-control" id="movie_year_release" name="movie_year_release" value="{{year_release}}" required>
						  	<label for="movie_year_release">MOVIE_YEAR_RELEASE</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_duration" id="movie_duration" value="{{duration}}" required>
						  	<label for="movie_duration">MOVIE_DURATION</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_genres" id="movie_genres" value="{{genres}}" required>
						  	<label for="movie_genres">MOVIE_GENRES</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="text" class="form-control" id="updated_at" value="{{updated_at}}" readonly>
						  	<label for="updated_at">MOVIE_UPDATED_AT</label>
						</div>

					</div>



					<div class="col-lg-6">
						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_image" id="movie_image" value="{{image}}" required>
						  	<label for="movie_image">MOVIE_IMAGE</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_tmdb_link" id="movie_tmdb_link" value="{{tmdb_link}}" required>
						  	<label for="movie_tmdb_link">MOVIE_TMDB_LINK</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="number" min="1" max="100" step="1" class="form-control" name="movie_tmdb_rating" id="movie_tmdb_rating" value="{{tmdb_rating}}" required>
						  	<label for="movie_tmdb_rating">MOVIE_TMDB_RATING</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="movie_justwatch_link" id="movie_justwatch_link" value="{{justwatch_link}}" required>
						  	<label for="movie_justwatch_link">MOVIE_JUSTWATCH_LINK</label>
						</div>

						<div class="form-floating">
						  	<textarea style="height: 200px" class="form-control" name="movie_resume" id="movie_resume" required>{{resume}}</textarea>
						  	<label for="movie_resume">MOVIE_RESUME</label>
						</div>
					</div>
					
				</div>

				<button type="submit" class="mb-5 w-25 btn btn-outline-primary shadow">
	        		Update Game
	        	</button>

			</form>

			<form action="/admin/delete/movie/{{id}}" method="POST">
				<button type="submit" class="mb-3 w-25 btn btn-sm btn-outline-danger shadow">
	        		Delete Game
	        	</button>
			</form>

        </div>

    </main>

    {{/movie}}

    {{/user.admin}}

