{{>partials/header}}
	
	{{#user.admin}}

	{{#tvshow}}

	<main class="container col-lg-10 mt-3 text-center">

        <div class="row" class="text-end d-flex justify-content-between">

        	<form action="/admin/update/tvshow/{{id}}" method="POST">

	        	<div class="mb-3 row">

	        		{{#flash_success}}
                        <div class="text-center alert alert-success" role="alert">
                            <b>{{flash_success}}</b>
                        </div>
                    {{/flash_success}}

                    {{#flash_warning}}
                        <div class="text-center alert alert-warning" role="alert">
                            <b>{{flash_warning}}</b>
                        </div>
                    {{/flash_warning}}

			        <div class="col-lg-6">

			        	<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_id" id="tvshow_id" value="{{id}}" required onkeydown="return false;">
						  	<label for="tvshow_id">TVSHOW_ID</label>
						</div>
					    
					    <div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_title" id="tvshow_title" value="{{title}}" required>
						  	<label for="tvshow_title">TVSHOW_TITLE</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="number" step="1" min="1980" max="2030" class="form-control" id="tvshow_year_release" name="tvshow_year_release" value="{{year_release}}" required>
						  	<label for="tvshow_year_release">TVSHOW_YEAR_RELEASE</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_duration" id="tvshow_duration" value="{{duration}}" required>
						  	<label for="tvshow_duration">TVSHOW_DURATION</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_genres" id="tvshow_genres" value="{{genres}}" required>
						  	<label for="tvshow_genres">TVSHOW_GENRES</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="text" class="form-control" id="updated_at" value="{{updated_at}}" readonly>
						  	<label for="updated_at">UPDATED_AT</label>
						</div>

					</div>



					<div class="col-lg-6">
						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_image" id="tvshow_image" value="{{image}}" required>
						  	<label for="tvshow_image">TVSHOW_IMAGE</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_tmdb_link" id="tvshow_tmdb_link" value="{{tmdb_link}}" required>
						  	<label for="tvshow_tmdb_link">TVSHOW_TMDB_LINK</label>
						</div>

                        <div class="form-floating mb-3">
						  	<input type="number" min="1" max="100" step="1" class="form-control" name="tvshow_tmdb_rating" id="tvshow_tmdb_rating" value="{{tmdb_link}}" required>
						  	<label for="tvshow_tmdb_rating">TVSHOW_TMDB_RATING</label>
						</div>

						<div class="form-floating mb-3">
						  	<input type="text" class="form-control" name="tvshow_justwatch_link" id="tvshow_justwatch_link" value="{{justwatch_link}}" required>
						  	<label for="tvshow_justwatch_link">TVSHOW_JUSTWATCH_LINK</label>
						</div>

						<div class="form-floating">
						  	<textarea style="height: 200px" class="form-control" name="tvshow_resume" id="tvshow_resume" required>{{resume}}</textarea>
						  	<label for="tvshow_resume">TVSHOW_RESUME</label>
						</div>
					</div>
					
				</div>

				<button type="submit" class="mb-5 w-25 btn btn-outline-primary shadow">
	        		Update TVShow
	        	</button>

			</form>

			<form action="/admin/delete/tvshow/{{id}}" method="POST">
				<button type="submit" class="mb-3 w-25 btn btn-sm btn-outline-danger shadow">
	        		Delete TVShow
	        	</button>
			</form>

        </div>

    </main>

    {{/tvshow}}

    {{/user.admin}}

