{{>partials/header}}

	<main class="container col-lg-6">

        <div class="row mb-3 mt-3">

        	{{#blogPost}}

                <div class="text-center mb-3">
            		<h3 class="fw-bold text-white">{{title}}</h3>
            		<small class="mb-5">{{updated_at}}</small>
                    <br><br>
                    {{#user.admin}}
                        <a href="/admin/update/blogPost/{{id}}" class="w-50 shadow mb-2 btn btn-warning shadow-sm">
                        <i class="bi bi-unlock-fill"></i>
                        Edit This Blog Post</a>
                    {{/user.admin}}
                </div>

                <div id="blog_body" class="mb-5 text-white">
        		    {{{body}}}
                </div>

                {{#header.use_disqus}}
                    {{{header.disqus_comments}}}
                {{/header.use_disqus}}

        	{{/blogPost}}

        </div>

    </main>

    {{{header.disqus_script}}}

