{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            <a href="/admin/stripe/prices/create" class="btn shadow-sm ms-1 me-1 btn-success">Create</a>
            <a href="/admin/stripe/prices/retrieve" class="btn shadow-sm ms-1 me-1 btn-outline-primary">Retrieve</a>
            <a href="/admin/stripe/prices/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-success mb-3">
                <i class="bi bi-plus"></i> CREATE Price
            </h3>

            <a class="mb-5" target="_blank" href="https://stripe.com/docs/api/prices/create?lang=node">https://stripe.com/docs/api/prices/create?lang=node</a>

            <div class="col-lg-5">
  		
        		<form action="/admin/stripe/prices/create" method="POST" class="mb-3">
        			<div class="form-floating mb-3">
                        <input type="text" class="form-control" id="product_id" name="product_id" required>
                        <label for="product_id">PRODUCT_ID</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" min="100" step="1" class="form-control" id="price_amount" name="price_amount" value="100" required>
                        <label for="price_amount">PRICE_AMOUNT (100 = $1)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="price_currency" name="price_currency" value="usd" required>
                        <label for="price_currency">PRICE_CURRENCY</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="price_recurring" name="price_recurring" value="month" required>
                        <label for="price_recurring">PRICE_RECURRING</label>
                    </div>

        			<button type="submit" class="btn btn-outline-success w-100 shadow">Create Price</button>
        		</form>

            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#price}}
        			<ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>PRODUCT:</b> {{product}}</li>
                        <li class="list-group-item"><b>ACTIVE:</b> {{active}}</li>
                        <li class="list-group-item"><b>CREATED:</b> {{created}}</li>
                    </ul>
        		{{/price}}
            </div>

        </div>

	</div>

{{>partials/footer}}