{{>partials/header}}

	<div class="container col-lg-8 text-center mt-3">

        <div class="mb-3">
            {{#user.admin}}
                <a href="/admin/stripe/prices/create" class="btn shadow-sm ms-1 me-1 btn-outline-success">Create</a>
            {{/user.admin}}
            <a href="/admin/stripe/prices/retrieve" class="btn shadow-sm ms-1 me-1 btn-primary">Retrieve</a>
            <a href="/admin/stripe/prices/listAll" class="btn shadow-sm ms-1 me-1 btn-outline-info">List All</a>
        </div>

        <div class="row">

            <h3 class="fw-bold text-primary mb-3">
                <i class="bi bi-credit-card-2-front"></i> RETRIEVE Price
            </h3>

            <a target="_blank" class="mb-5" href="https://stripe.com/docs/api/prices/retrieve">
                https://stripe.com/docs/api/prices/retrieve
            </a>

            <div class="col-lg-5">
        		<form action="/admin/stripe/prices/retrieve" method="POST" class="mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="price_id" id="price_id" placeholder="Customer Name" required autofocus value="plan_JxJMW54dmkHkfF">
                        <label for="price_id">PRICE_ID</label>
                    </div>

        			<button type="submit" class="btn btn-outline-primary w-100 shadow">Retrieve Price</button>
        		</form>
            </div>


            <div class="col-lg-7">
        		{{#flash}}
        			<div class="alert alert-{{type}}" role="alert" class="mb-3">
        				{{message}}
        			</div>
        		{{/flash}}

        		{{#price}}
        			<ul class="list-group list-group-flush text-start">
                        <li class="list-group-item"><b>PRICE_ID:</b> {{id}}</li>
                        <li class="list-group-item"><b>ACTIVE:</b> {{active}}</li>
                        <li class="list-group-item"><b>CURRENCY:</b> {{currency}}</li>
                        <li class="list-group-item"><b>PRODUCT_ID:</b> {{product}}</li>
                        <li class="list-group-item"><b>UNIT_AMOUNT:</b> {{unit_amount}}</li>
                        <li class="list-group-item"><b>CREATED_AT:</b> {{created}}</li>
                    </ul>
        		{{/price}}
            </div>

        </div>

	</div>

{{>partials/footer}}