{{>partials/header}}

	{{#user.admin}}
	
	{{#blogPost}}

	<main class="container col-lg-10 mt-3">

        <div class="row">

        	{{#flash}}
	            <div class="text-center alert alert-{{type}}" role="alert" class="mb-3">
	                <b>{{message}}</b>
	            </div>
	        {{/flash}}

        	<form action="/admin/update/blogPost/{{id}}" method="POST">

        		<div class="row">

	        		<div class="col-lg-6">

				        <div class="form-floating mb-3">
						  <input type="text" class="form-control" name="blog_id" id="blog_id" value="{{id}}" readonly>
						  <label for="blog_id">BLOG_ID</label>
						</div>

						<div class="form-floating mb-3">
						  <input type="text" class="form-control" name="blog_slug" id="blog_slug" value="{{slug}}" readonly>
						  <label for="blog_slug">BLOG_SLUG</label>
						</div>

						<div class="form-floating mb-3">
						  <input type="text" class="form-control" name="blog_updated_at" id="blog_updated_at" value="{{updated_at}}" readonly>
						  <label for="blog_updated_at">BLOG_UPDATED_AT</label>
						</div>


					    <div class="form-floating mb-3">
						  <input type="text" class="form-control" name="blog_title" id="blog_title" required autofocus value="{{title}}">
						  <label for="blog_title">BLOG_TITLE</label>
						</div>

					    <div class="form-floating mb-3">
						  <input type="text" maxlength="256" class="form-control" name="blog_resume" id="blog_resume" required value="{{resume}}">
						  <label for="blog_resume">BLOG_RESUME</label>
						</div>


						<div class="form-floating mb-3">
						  <input type="text" maxlength="256" class="form-control" name="blog_image" id="blog_image" required value="{{image}}">
						  <label for="blog_image">BLOG_IMAGE_RESUME</label>
						</div>

					</div>


					<div class="col-lg-6">

						<div class="form-floating mb-3">
						  	<select class="form-select" name="blog_category" id="blog_category" aria-label="Floating label select example" required>
						    	<option value="software" selected>Software</option>
						    	<option value="bussiness">Bussiness</option>
						  	</select>
						  	<label for="blog_category">BLOG_CATEGORY</label>
						</div>

						<div class="form-floating mb-3">
						  <textarea class="form-control" name="blog_body" id="blog_body" style="height: 400px">{{body}}</textarea>
						  <label for="blog_body">BLOG_BODY (HTML CODE)</label>
						</div>

					</div>

				</div>

				<button type="submit" class="mb-5 w-25 btn btn-outline-primary shadow">UPDATE Blog Post</button>

			</form>

			<form action="/admin/delete/blogPost/{{id}}" method="POST">
				<button type="submit" class="mb-3 w-25 btn btn-sm btn-outline-danger shadow">
	        		Delete Blog Post
	        	</button>
			</form>

        </div>

    </main>

    {{/blogPost}}

    {{/user.admin}}

{{>partials/footer}}
